apiVersion: v1
kind: Service
metadata:
  name: {{ include "datalake.fullname" . }}-spark-worker
  labels:
    app.kubernetes.io/component: spark-worker
spec:
  type: ClusterIP
  ports:
    - name: web
      port: {{ .Values.spark.worker1.ports.web }}
      targetPort: web
  selector:
    app.kubernetes.io/component: spark-worker
