apiVersion: v1
kind: Service
metadata:
  name: {{ include "datalake.fullname" . }}-hive-metastore-db
  labels:
    app.kubernetes.io/component: hive-metastore-db
spec:
  type: ClusterIP
  ports:
    - name: postgresql
      port: 5432
      targetPort: 5432
  selector:
    app.kubernetes.io/component: hive-metastore-db
